@model PhotoViewModel
@{
    ViewData["Title"] = "Index";
}






<div class="col-12">
    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title">
                Gallery Photo's
            </div>
            
        </div>
        <div class="card-body">

            <button class="btn btn-primary" type="submit" onclick="@("window.location.href='" + @Url.Action("DownloadZip", "photo") + "'");">Download all</button>
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        Find by name or capture by: <input type="text" name="SearchString" value="" />
                        <input type="submit" value="Search" class="btn btn-default" /> |
                        <a asp-action="Index">Back to Full List</a>
                    </p>
                </div>
            </form>
            <form id="frmPhototGraphy" class="form-horizontal" asp-action="AddPhotos" asp-controller="photo" method="post" enctype="multipart/form-data">

                <div class="container">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input class="form-control" asp-for="@Model.photo.Title" type="text" name="title" />
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input class="form-control" asp-for="@Model.photo.Location" type="text" name="location" />
                        </div>
                        <div class="form-group">
                            <label for="capture">Captured By</label>
                            <input class="form-control" asp-for="@Model.photo.CaptureBy" type="text" name="capture" />
                        </div>
                        <div class="form-group">
                            <label for="capturedate">Capture Date</label>
                            <input class="form-control" asp-for="@Model.photo.CaptureDate" type="text" name="capturedate" />
                        </div>
                        <div class="form-group">
                            <label for="tag">Tag</label>
                            <input class="form-control" asp-for="@Model.photo.Tag" type="text" name="tag" />
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Photo</label>

                            <div class="col-sm-6 custom-file">

                                <input asp-for="@Model.photo.filePhoto" type="file" class="custom-file-input" multiple="multiple">
                                <label class="custom-file-label" for="@Model.photo.filePhoto">Choose file</label>
                                <span asp-validation-for="@Model.photo.filePhoto" class="text-danger"></span>
                                <div> <button type="submit" class="btn btn-danger">Upload All</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <div class="row">
                @if (Model.photoList != null)
                {
                    foreach (var item in Model.photoList)
                    {
                        <div class="col-sm-2">
                            <a href="@Url.Content("~/photography/"+item.Name)" data-toggle="lightbox" data-title="sample 1 - white" data-gallery="gallery">
                                <img src="~/photography/@item.Name" asp-append-version="true" class="img-fluid mb-2" alt="white sample">
                            </a>
                            <a href="@Url.Action("DeletePhoto","photo",new { id=item.PhotoId})" style="float:right">Delete</a>
                            <a asp-action="Details" asp-route-id="@item.PhotoId">Details</a>
                            <a asp-action="Edit" asp-route-id="@item.PhotoId">Edit</a>
                            <a asp-action="Share" asp-route-id="@item.PhotoId">Share</a>
                        </div>
                    }

                }

            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
        });


    </script>
}
